.external_login {
    display: flex;
    flex-direction: row;
}

.error {
    background: #fee;
    border: 1px solid #fbb;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 20px;
}
