main .error {
    color: crimson;
    text-align: center;
}
.order-details {
    text-align: center;
}

.order-id {
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
}

h1.status {
    color: black;
    align-content: center;
}

.order-details .product-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    padding: 1rem;
    border-radius: 12px;
}

.order-items {
   list-style: none;
}

img.order-image {
    width: 200px;
    padding: 2px;
    border: 1px solid grey;
    background-color: grey;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    border-radius: 8px;
    margin: 12px;
}

.order-item {
    display: flex;
    justify-content: space-between;
}

.product-details {
    display: flex;
    text-align: left;
    margin: 0;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;
    font-size: 1.5rem;
}

.total {
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
}
