.past-orders {
    justify-items: center;

}

.line {
    margin: 4rem;
    width: 50%;
    border: 4px solid cornflowerblue;
    border-radius: 12px;
    justify-items: center;
    background-color: cornflowerblue;
}

.Title {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin : 0.5rem;
}

li.orders {
    padding: 1rem;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin-bottom: 0;
    list-style: none;

}

li.orders:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;

}

.OrderList {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}


