.user-page .user-heading {
    text-align: center;
}

.user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.user-page button {
    margin : 1rem;
    border: none;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
}

.user-page button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.user-page button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 119, 255, 0.5);
}

.user-page .logout-btn {
    background-color: crimson;

}
