.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    gap: 1rem;
}
.navbar {
    display: flex;
    margin: 1rem auto;
    color: antiquewhite;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    align-items: start;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar span{
    color: white;
    font-size: 1rem;
}

.logout-btn {
    display: flex;
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    align-content: flex-end;
    margin-left: auto;
}

.logout-btn:hover {
    background-color: darkred;
}

.cart-icon {
    font-size: 1.5rem;
    cursor: pointer;

}

